#.npmrc配置文件（注意：名称以.开头）  
#配置国内阿里镜像
#下载源
registry=http://registry.npmmirror.com

#解决npm install失败问题 
# 将 ELECTRON_MIRROR 替换为 npm_config_ELECTRON_MIRROR
npm_config_ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/

#解决npm run dist失败问题
# 将 ELECTRON_BUILDER_BINARIES_MIRROR 替换为 npm_config_ELECTRON_BUILDER_BINARIES_MIRROR
npm_config_ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/